% rebase('base.html')

<table>
    <tr>
        <td>
          {{igra.pravilni_del_gesla()}} <br />
          Nepravilni ugibi {{igra.nepravilni_ugibi()}}
        </td>
        <td>
            <img src="../../img/{{igra.stevilo_napak()}}.jpg" alt="obesanje">
            ,
        </td>
    </tr>
  </table>

  % if igra.zmaga():
    <span>Čestitke! Zmagal/a si!</span>
    <form action="/nova_igra/" method="post">
      <button type="submit">Nova igra</button>
    </form>
  % elif igra.poraz():
    <span>Sožalje, več sreče prihodnič! LMAO!</span>
    <form action="/nova_igra/" method="post">
      <button type="submit">Nova igra</button>
      Geslo je bilo: <span>{{igra.geslo}}</span>
    </form>
  % else:
    <form action="/igra/" method="post">
      Črka: <input type="text" name="crka" autofocus = "true">
      <button type="submit">Poskusi</button>
    </form>
  % end